
<div class="bootstrap-wrapper bg-color">
	<div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card appearance="outlined">
                    <mat-card-content>
                <div class="container">
                    <img src="assets/login.png" alt="">
                </div>
                <!-- {{loginData | json}} -->
                <h3 class="text-center">Login</h3>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput required [(ngModel)]="loginData.username" name="username">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput required [(ngModel)]="loginData.password" name="password" type="password">
                      </mat-form-field>


                      <div class="container">
                        <button type="submit" class="mr" mat-flat-button>Login</button>
                        <button type="reset" mat-raised-button>Reset</button>
                      </div>
                </form>
            </mat-card-content>
            </mat-card>
            <div class="container text-center head"><p>New to this platform?</p><a [routerLink]="['/signup']">Register here!</a></div>
            </div>
        </div>
	</div>
</div>





