
<mat-card appearance="outlined">
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item [routerLink]="['/admin']">
            <div class="flex-container">
                <mat-icon class="mr">home</mat-icon>
                <span>Home</span>
              </div>
        </button>
        <button mat-list-item [routerLink]="['profile']">
            <div class="flex-container">
                <mat-icon class="mr">account_circle</mat-icon>
                <span>Profile</span>
              </div>
        </button>
        <button mat-list-item [routerLink]="['profile']">
            <div class="flex-container">
                <mat-icon class="mr">category</mat-icon>
                <span>Categories</span>
              </div>
        </button>
        <button mat-list-item [routerLink]="['profile']">
            <div class="flex-container">
                <mat-icon class="mr">library_books</mat-icon>
                <span>Quizzes</span>
              </div>
        </button>
        <button mat-list-item [routerLink]="['profile']">
            <div class="flex-container">
                <mat-icon class="mr">logout</mat-icon>
                <span>Logout</span>
              </div>
        </button>
      </mat-action-list>

</mat-card>